body {
  color: #244D4D;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  line-height: 1.6875;
  letter-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  padding: 2.5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: align-items start;
  width: 86.4864864865%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.header__logo {
  font-weight: bold;
  overflow-wrap: anywhere;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  margin-left: 1.875em;
}
.nav__active {
  text-decoration: underline;
}

.visual {
  background: url(../images/bg_hero.png) no-repeat center bottom/cover;
  padding: 15.625em 0 8.75em;
}
.visual__inner {
  width: 86.4864864865%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.visual__text {
  width: 30em;
  padding: 4.0625em 3.75em;
  background-color: rgba(255, 255, 255, 0.6);
}
.visual__text p {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2083333333;
}

.about__inner {
  width: 86.4864864865%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.about__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (min-width: 740px) {
  .about__item {
    width: 47%;
  }
  .about__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
.about__item img {
  aspect-ratio: 5/3;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 740px) {
  .about__item img {
    aspect-ratio: 1/1;
    -o-object-position: center bottom;
       object-position: center bottom;
  }
}
.about__item:last-child {
  margin-bottom: 0;
}
.about__title {
  margin-bottom: 1.25em;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2083333333;
  padding-bottom: 0.625em;
  border-bottom: 2px solid;
  margin-top: 1.6666666667em;
}
.about__list {
  padding-bottom: 2.5em;
}
@media screen and (min-width: 740px) {
  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.post {
  margin-bottom: 3.125em;
}
.post__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.0416666667em;
}
.post__contents {
  flex: 1;
  margin-left: 1.25em;
}
.post__text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.post__price {
  margin-bottom: 1.875em;
}

.products__inner {
  width: 86.4864864865%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.products__title {
  margin-bottom: 1.25em;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2083333333;
  padding-bottom: 0.625em;
  border-bottom: 2px solid;
  margin-top: 1.6666666667em;
}
.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.products__item {
  text-align: center;
  padding: 2.8125em 0;
  width: 46.875%;
  background-color: #f4f4f4;
}
@media screen and (min-width: 740px) {
  .products__item {
    width: 30%;
  }
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 0.625em;
  padding: 1.125em 2.5em;
  background-color: #244D4D;
  margin: 0.625em auto 7.5em;
}

.footer {
  color: #FFFFFF;
  background-color: #244D4D;
  padding: 7.5em 0;
}
.footer__inner {
  width: 86.4864864865%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 740px) {
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.0416666667em;
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (min-width: 740px) {
  .footer__nav:nth-child(1) {
    order: 2;
  }
  .footer__nav:nth-child(2) {
    order: 1;
  }
}
.footer__contents {
  width: 46.875%;
  margin-bottom: 3.75em;
}
.footer__contents:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 740px) {
  .footer__contents {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 3.75em;
  }
}
.footer__address {
  margin: 2.5em 0 1.25em;
}
/*# sourceMappingURL=style.css.map */