body {
  background-color: #FFFFFF;
  color: #1B2D55;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  letter-spacing: 0.05em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.header {
  padding: 4.2857142857em 3.5714285714em;
}
.header__inner {
  width: 90%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 990px) {
  .header__menu {
    display: none;
  }
}

.nav {
  display: none;
  font-size: 1rem;
  flex: 1;
}
@media screen and (min-width: 990px) {
  .nav {
    display: block;
  }
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  margin-left: 1.875em;
}
.nav__about {
  margin-left: auto;
}

.visual {
  background-color: #DEF6FF;
  padding: 10.7142857143em 3.5714285714em 4.2857142857em;
}
.visual__inner {
  width: 90%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.visual__catch {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2083333333;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 1.6666666667em;
  text-align: left;
}
.visual__text {
  margin-bottom: 2.7142857143em;
}
.visual__sns .icon {
  margin-right: 1.4285714286em;
}
@media screen and (min-width: 740px) {
  .visual__img {
    display: none;
  }
  .visual__inner {
    background: url(../images/img_about.png) no-repeat center right;
    padding: 10.7142857143em 0 12.1428571429em;
  }
}

.advantages {
  margin: 8.5714285714em 0;
}
.advantages__inner {
  width: 90%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.advantages__title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2083333333;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 1.6666666667em;
}
.advantages__title::before {
  content: "";
  display: block;
  width: 0.7916666667em;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: #FFF5DE;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5208333333em;
}
@media screen and (min-width: 740px) {
  .advantages__item {
    width: 47.3684210526%;
  }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.post {
  border-bottom: 1px solid #000;
  margin-bottom: 5.7142857143em;
  padding-bottom: 5.7142857143em;
}
.post:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.post__img {
  text-align: center;
  margin-bottom: 2.8571428571em;
}
.post__title {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2222222222;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 0.8333333333em;
}
.post__taglist {
  margin: 4.2857142857em 0;
}
.post__taglist::before {
  content: "";
  display: block;
  width: 4.2857142857em;
  border-bottom: 1px solid #1B2D55;
  margin-bottom: 4.2857142857em;
}
.post__tag {
  display: inline-block;
  padding: 1.0714285714em 2.1428571429em;
  font-size: 0.75rem;
  font-weight: bold;
  margin-right: 1.6666666667em;
  background-color: #FFFFFF;
  border-radius: 20px;
}
@media screen and (min-width: 740px) {
  .post {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .post__contents {
    width: 43.8596491228%;
  }
  .post__tag {
    margin-bottom: 1.6666666667em;
  }
}

.btn {
  display: block;
  padding: 1.4285714286em 3.2142857143em;
  color: #FFF;
  background-color: #1B2D55;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.2857142857em;
}

.features {
  background-color: #FFF5DE;
  padding: 8.5714285714em 0;
}
.features .post {
  border-bottom: none;
}
.features__inner {
  width: 90%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.features__title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2083333333;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 1.6666666667em;
}
.features__title::before {
  content: "";
  display: block;
  width: 0.7916666667em;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: #DEF6FF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5208333333em;
}
@media screen and (min-width: 740px) {
  .features .post {
    border-bottom: none;
    margin-bottom: 4.4444444444em;
  }
  .features .post:last-child {
    margin-bottom: 0;
  }
  .features .post:nth-child(even) {
    flex-direction: row-reverse;
  }
  .features__img {
    width: 50.8771929825%;
  }
  .features__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.footer {
  padding: 8.5714285714em 0 14.2857142857em;
  background-color: #E8EDF1;
}
.footer__inner {
  width: 90%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 740px) {
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.footer__copy {
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 4.2857142857em;
}

.contact {
  max-width: 385px;
  margin-right: auto;
  margin-left: auto;
}
.contact__title {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2222222222;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 0.8333333333em;
  text-align: center;
}
.contact__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.contact__term {
  width: 7.1428571429em;
}
.contact__desc {
  flex: 1;
}
@media screen and (min-width: 740px) {
  .contact {
    margin: 0;
  }
  .contact__title {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}
/*# sourceMappingURL=style.css.map */